<form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="register-form">
  <div class="form-group">
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      name="name"
      ngModel
      required
      minlength="5"
      pattern="^[a-zA-Z\s]+$"
      #name="ngModel"
      class="form-control"
    />
    <div *ngIf="name.invalid && name.touched" class="error">Invalid name</div>
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      ngModel
      required
      email
      #email="ngModel"
      class="form-control"
    />
    <div *ngIf="email.invalid && email.touched" class="error">
      Invalid Email
    </div>
  </div>

  <div class="form-group">
    <label for="phone">Telephone:</label>
    <input
      type="text"
      id="phone"
      name="phone"
      ngModel
      required
      pattern="^\d{10}$"
      #phone="ngModel"
      class="form-control"
    />
    <div *ngIf="phone.invalid && phone.touched" class="error">
      Invalid Phone Number
    </div>
  </div>

  <div class="form-group">
    <label for="dob">Date of Birth:</label>
    <input
      type="date"
      id="dob"
      name="dob"
      ngModel
      required
      #dob="ngModel"
      class="form-control"
    />
    <div *ngIf="dob.invalid && dob.touched" class="error">
      Invalid Date of Birth
    </div>
  </div>

  <div class="form-group">
    <label for="address">Address:</label>
    <input
      type="text"
      id="address"
      name="address"
      ngModel
      required
      pattern="^[a-zA-z0-9\s]+$"
      #address="ngModel"
      class="form-control"
    />
    <div *ngIf="address.invalid && address.touched" class="error">
      Invalid Address
    </div>
  </div>

  <div class="form-group">
    <label for="province">Province:</label>
    <select
      id="province"
      name="province"
      ngModel
      required
      #province="ngModel"
      class="form-control"
    >
      <option value="">Select...</option>
      <option value="MB">Manitoba</option>
      <option value="SK">Saskatchewan</option>
      <option value="ON">Ontario</option>
    </select>
    <div *ngIf="province.invalid && province.touched" class="error">
      Select a Province
    </div>
  </div>

  <div class="form group">
    <label for="country">Country:</label>
    <select
      id="country"
      name="country"
      ngModel
      required
      #country="ngModel"
      class="form-control"
    >
      <option value="">Select...</option>
      <option value="CA">Canada</option>
      <option value="US">USA</option>
    </select>
    <div *ngIf="country.value !== 'CA' && country.touched" class="error">
      You should select Canada to proceed
    </div>
  </div>

  <div class="form-group">
    <label>
      <input
        type="checkbox"
        name="terms"
        ngModel
        required
        #terms="ngModel"
        class="form-check-input"
      />
      Accept Terms and Conditions
    </label>
    <div *ngIf="terms.invalid && terms.touched" class="error">
      You must accept the terms to continue.
    </div>
  </div>
  <button
    type="submit"
    [disabled]="registerForm.invalid"
    class="btn btn-primary"
  >
    Send
  </button>
</form>
